.tileCard{
    display: flex;
    width: 100%;
    height: 150px; /* Adjust as needed */
    overflow: hidden;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1rem;
    cursor: pointer;
    

}


.tileCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Container should take up right of parent container. It should take up 100 of the height. */
.rightContainer{
    width: 20%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftContainer{
    flex: 1; /* Takes up remaining space (80%) */
    padding: 20px;
}
.title{
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 1rem;

}
