.streak .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #441b10;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid #ff7f27;
    font-family: 'Arial', sans-serif;
    color: #fff;
    width: 250px;
}

.streak .section {
    background-color: #6a1b1b;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 2px solid #ffcc00;
}

.streak .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #ffcc00;
}

.streak .value {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 0 0;
    color: #fff;
}
